@use "../../../abstract" as *;

.project-bg {
  position: relative;

  @include set-background-color($color-3);

  & .project-section {
    padding-bottom: 200px;

    & h2 {
      margin-bottom: 50px;

      & span {
        color: $color-2;
      }
    }

    & .project-list-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 100%;
      height: 100%;
      row-gap: 40px;
      column-gap: 30px;

      & .project-item {
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;

        // @include default-box-shadow();

        & .top-container {
          height: 300px;
          width: 100%;
          position: relative;
          overflow: hidden;

          & img {
            top: 0;
            object-fit: cover;
            height: 100%;
            width: 100%;
            position: absolute;
            transition: $anim-all;
          }

          & .gradient {
            @include background-gradient-linear($color-1, 10%, 100%);
            height: 100%;
            width: 100%;
            position: absolute;
          }

          & .top-details {
            gap: 6px;
            position: absolute;
            height: 100%;
            width: 100%;
            padding: 20px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            box-sizing: border-box;
            transition: $anim-all;

            & .number {
              font-weight: 900;
            }

            & .title {
              font-size: 2.0rem;
              font-weight: 900;
              color: $color-0;
              transition: $anim-all;
            }

            & ul {
              display: flex;
              flex-direction: row;

              & li {
                margin-right: 5px;
                border: 1px solid $color-0;
                padding: 5px 10px;
                border-radius: 25px;
                font-size: 0.7rem;
                transition: $anim-all;
              }
            }
          }
        }

        & .bottom-container {
          padding: 20px;
          background-color: $color-1;
          min-height: 150px;
          font-size: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: space-between;

          & p {
            color: $color-4;
          }
          & .icon{
          display: inline;
          }

          & .links{
            display: inline-flex;
            margin-left: 10px;
            
            font-size: 1.5rem;

            & a{
              transition: $anim-all;
            }
          }

          & .links{

            & a:hover {
              color: $color-2;
            }

          }
        }
      }

      & .project-item:hover {
        & .top-container {
          & img {
            transform: scale(1.1);
          }
          & .top-details {
            background-color: rgba($color-1, 0.5);
            backdrop-filter: blur(2px);

            & .title {
              color: $color-2;
            }

            & ul {
              display: flex;
              flex-direction: row;

              & li {
                background-color: $color-2;
                border-color: $color-2;
                color: $color-0;
              }
            }
          }
        }
      }
    }
  }

  & .curve1 {
    top: -100px;
    left: -10px;
    right: -10px;
    z-index: 0;
    position: absolute;
    transform: scaleX(-1);
    transform: rotate(180deg);

    & svg {
      height: 100px;
      width: 100%;
      & path {
        stroke-width: 3;
        stroke: $color-3;
        fill: $color-3;
      }
    }
  }

  & .curve2 {
    // border: 1px solid red;
    bottom: -1px;
    left: -10px;
    right: -10px;
    z-index: 1;
    position: absolute;
    transform: scaleX(-1) rotate(180deg);

    & svg {
      height: 100px;
      width: 100%;
      & path {
        stroke-width: 3;
        stroke: $color-2;
        fill: $color-2;
      }
    }
  }
}

@media (max-width: $media-w-l) {
  .project-bg {
    & .project-section {
      padding-top: 2rem;

      & .project-list-grid {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media (max-width: $media-w-m) {
  .project-bg {
    & .project-section {
      & .project-list-grid {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
